* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #23252c;
  margin: 10px auto;
}
.app {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 320px;
}
/* * Main section  */
.main-sec {
  background: #1a1b21;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-sec > h2,
.main-sec > p:nth-child(4) {
  margin-top: 10px;
}
.main-sec > p:nth-child(3) {
  color: #f3bf99;
}

.main-sec > p {
  font-size: 12px;
}
/* * buttons */
.btns {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
}

button {
  padding: 9px 13px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}
.blue-btn {
  background: #5093e2;
  color: #fff;
}
/*  * About section */
.about {
  text-align: left;
  padding: 15px;
  color: #f5f5f5;
}

.about > h2 {
  margin: 15px 0;
  font-size: 16px;
  line-height: 24px;
}

.about > p {
  font-family: Inter;
  font-size: 12px;
  line-height: 15px;
}

/*  * footer */
.footer {
  background-color: #161619;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
